* {
    --col-dark: rgb(30,30,30);
    --col-light: aliceblue;
    --col-sub: rgb(150,150,150);

    --header-height: 80px;

    --border-col: var(--col-light);

    color: var(--col-light);
}

body {
    margin: 0;
    background-color: var(--col-dark);
}

.header {
    background-color: var(--col-dark);
    border-bottom: 1px solid var(--col-light);

    position: fixed;
    top: 0;
    
    width: 100%;
    height: var(--header-height);

    padding: 5px;

    z-index: 3;
}

.content {
    margin-top: calc(var(--header-height) + 20px + 20px);
    margin-left: auto;
    margin-right: auto;

    width: 70%;
}

.center-x {
    margin-left: auto;
    margin-right: auto;

    width: min-content;
}

.center-y {
    margin-top: auto;
    margin-bottom: auto;
}

/* #region Icons */
.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 40px;

    padding: 40px;
    padding-bottom: 20px;

    height: 140px;

    overflow-x: visible;

    .icon {
        margin-left: 80px;
        margin-right: 80px;
    }
}

.icon {
    min-width: 100px;
    min-height: 100px;
    background-color: var(--col-dark);

    border: 5px solid var(--border-col);
    border-radius: 50%;

    padding: 15px;

    transition: .5s;

    transform-style: preserve-3d;
    transform: scale( 1, 1 );

    z-index: 2;

    * {
        width: 80%;
        height: 80%;
    }

    img {
        position: absolute;
        top: 10%;
        bottom: 10%;
        left: 10%;
        right: 10%;
    }

    --info-y: 0;

    .icon-info {
        --border-col: inherit;

        position: absolute;
        top: var(--info-y);
        left: 50%;

        height: 40px;
        width: 0%;

        transform: translateZ(-1px);
        transition: .5s;

        border: 0px solid var(--border-col);

        background: transparent;

        overflow: hidden;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        * {
            width: max-content;
            height: min-content;

            margin-top: calc(13px * 0.5);
        }
    }

    .icon-info-left, .icon-info-right {
        height: calc(100px * 1.2 / 4);
        width: 0;
        
        * {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .icon-info-left {
        justify-content: start;
        flex-direction: row;
    }

    .icon-info-right {
        justify-content: end;
        flex-direction: row-reverse;
    }
}

.icon:hover, .iconhover {
    transform: scale( 1.2, 1.2 );

    z-index: 4;

    .icon-info {
        --border-col: inherit;
        width: 400%;
        left: -150%;

        border: 1px solid var(--border-col);
    }

    .icon-info-left {
        width: 200%;
        left: -150%;
    }

    .icon-info-right {
        width: 200%;
        left: 50%;
    }
}

.icon-info-background {
    --info-y: -40px; 
    height: calc(40px + 100px * 1.2) !important; 
    background-color: var(--col-dark) !important;

    img {
        max-width: 70%;
        opacity: 0.3;

        top: -20%;
    }
}
/* #endregion */

/* #region Panels */
.panel-grid {
    margin: 20px 0 40px 0;

    height: min-content;
    width: 100%;
    
    .panel-row {
        margin: 20px 0 20px 0;

        display: flex;
        flex-direction: row;

        .left-panel, .right-panel {
            width: 50%;
            top: 0;
            display: flex;
        }

        .left-panel {
            left: 0;
            flex-direction: row;
        }
        
        .right-panel {
            right: 0;
            flex-direction: row-reverse;
        }
    }
}
/* #endregion */

/* #region Damage Information */
.damage-info-panel {
    display: flex;
    font-size: 19px;

    .overview {
        width: 30%;

        .icon {
            aspect-ratio: 1;

            width: 50%;
        }

        * {
            width: min-content;
        }

        h2 {
            margin-bottom: 2px;
            margin-top: 10px;
        }

        h3 {
            white-space: nowrap;
            margin-top: 0px;
            margin-bottom: 8px;
        }
    }

    .description {
        width: 70%;

        white-space: pre-line;
    }
}

.left-panel {
    text-align: left;

    .overview {
        * { margin-right: auto; }
    }
    .description { padding: 0 15px 0 15px; }
}

.right-panel {
    text-align: right;

    .overview {
        * { margin-left: auto; }
    }
    .description { padding: 0 15px 0 15px; }
}
/* #endregion */

/* #region Values */
.val-duration {
    color: rgb(45, 179, 45);
}

.val-strength {
    color: rgb(187, 31, 31);
}

.val-effeciency {
    color: rgb(53, 53, 214);
}
/* #endregion */

.subheading {
    font-size: 15px;
    color: var(--col-sub);
    padding: 5px;
}

.small-text {
    font-size: 15px;
}